section {
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  background-color: var(--main-color);
}

h2 {
  color: white;
  text-align: center;
  margin: 10px;
}

h4{
  color: white;
  text-align: center;
  margin: 10px;
}

button>a{
  color: white;
  text-align: center;
  text-decoration: none;
}

.items-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: 25px;
}

.items-container>p{
  color:whitesmoke;
  border-bottom: 1px whitesmoke solid;
}

.buttons-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;

}

button{
  background-color: var(--secondary-color);
  border-radius: 10px;
  border-color: var(--text-color);
  border-width: 1px;
  color: var(--text-color);
  font-size: medium;
  font-family: "BreeSerif-regular", serif;
  margin: 10px;
}

button:disabled {
  background-color: var(--disabled-button-color);
  color: var(--disabled-button-text-color);
}


button:hover {
  background-color: var(--tertiary-color);
}

