<article>

    <form action="" [formGroup]="form" (ngSubmit)="completeForm()" class="large-search-bar">
        <section>

            <div class="flex-container">
                <label for="product">Nombre</label>
                <input type="text" name="product" id="product" formControlName="tern" placeholder="Término de búsqueda...">
            </div>

            <div class="flex-container">
                <label for="categories">Categorías</label>
                <app-category-dropdown-select id="categories" formControlName="category_id" [categories]="categories()"/>
            </div>

            <div class="flex-container">
                <label for="product_id">ID del producto</label>
                <input type="number" name="product_id" id="product_id" formControlName="product_id" min="0">
            </div>

            <div *appAllowViewUser="['ROLE_MANAGER','ROLE_ADMIN']" class="flex-container">
                <label for="product-status">Estado</label>
                <select class="desplegable-estado" name="status" id="product-status" formControlName="status">
                    <option [ngValue]="null" selected>Ninguno</option>
                    <option [ngValue]="productStatusEnum.Enabled">Habilitado</option>
                    <option [ngValue]="productStatusEnum.Disabled">Deshabilitado</option>
                </select>
            </div>

       
            <div>
                <label for="stock">Stock restante (igual o menor)</label>
                <input type="number" name="stock" id="stock" min="0" formControlName="stock">
            </div>
            
            <div class="button-container">
                <button type="submit">Buscar</button>
                <button type="button" (click)="reset()">Reiniciar</button>
            </div>
        </section>
    </form>
</article>
