aside {
  display: flex;
  flex-direction: column;
  padding-inline: var(--sidebar-padding);
  position: absolute;
  top: 0;
  height: 100dvh;
  width: var(--sidebar-width);
  background-color: var(--main-color);
  z-index: 1010;
}

p.subtitles{
  font-size: 1.5rem;
  color: var(--text-color);
}

p.subtitles a {
  text-decoration: none;
}

ul {
  list-style: none;
  font-size: 1.2rem;
  padding: 0;
}

ul li a {
  display: block;
  text-decoration: none;
  margin-block: 3px;
  padding-block: 5px;
  padding-left: 10px;
  border-radius: 5px;
  transition: background-color .1s cubic-bezier(.69,.11,.83,.67),
              color .10s ease-in-out;
  color: var(--unfocused-text-color);
}

ul li a:hover {
  background-color: var(--tertiary-color);
  color: var(--text-color);
}

a {
  color: white;
}
