  <aside>
    <div>
      <p class="subtitles">Proveedores</p>
      <ul>
        <li><a>Listar</a></li>
        <li><a routerLink="/form-suppliers">Crear</a></li>
        <li><a routerLink="delete-supplier">Eliminar</a></li>
      </ul>
      <p class="subtitles">Productos</p>
      <ul>
        <li><a>Listar</a></li>
        <li><a routerLink="/products">Crear</a></li>
        <li><a>Eliminar</a></li>
      </ul>
      <p class="subtitles">Precios</p>
      <ul>
        <li><a>Por Proveedor</a></li>
        <li><a>Por Producto</a></li>
      </ul>

      <p class="subtitles"><a routerLink="/login" (click)="logOut()">Salir</a></p>
    </div>
  </aside>
