<article>
    <form action="" [formGroup]="form" (ngSubmit)="submit()" class="large-search-bar">
        <section>

            <div class="flex-container">
                <label for="product">Nombre</label>
                <input type="text" name="product" id="product" formControlName="tern" placeholder="Término de búsqueda...">
            </div>

            <div class="flex-container">
                <label for="categories">Categorías</label>
                <app-category-dropdown-select id="categories" formControlName="category_id" [categories]="categories()"/>
            </div>

            <div class="flex-container">
              <label for="checkbox">Incluir productos sin stock?</label>
              <input type="checkbox" name="checkbox" id="checkbox">
            </div>

            <div class="button-container">
                <button type="submit">Buscar</button>
                <button type="button" (click)="reset()">Reiniciar</button>
            </div>
        </section>
    </form>
</article>
