section {
  /* reglas de display */
  display: flex;
  flex-direction: column;
  height: 80dvh;
  padding: var(--header_padding);
  align-items: center;
  justify-content: center;


  /* colores y otras cosas */
  color: white;
}


.menu_container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  padding: var(--header_padding);
  grid-gap: 2rem;
  width: 60%;

  align-items: center;
  justify-content: center;
}

h1 {
  color: black;
  text-align: center;
}
