section {
  /* reglas de display */
  display: flex;
  flex-direction: column;
  height: 80dvh;
  padding: var(--header_padding);
  align-items: center;
  justify-content: center;


  /* colores y otras cosas */
  color: white;

  /* etc */
}


.menu_container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  padding: var(--header_padding);
  gap: 2rem;
  width: 60%;
  /*align-items: center;*/
  /*justify-content: center;*/

}

h2 {
  color: black;
  text-align: center;
}
