section {

    /* reglas de display */
    /*display: flex;
    flex-direction: row;
    justify-content: space-between;*/
    
    padding: var(--header_padding);
    

    /* colores y otras cosas */
    /*background-color: var(--color_principal);*/
    color: white;

    /* etc */
}


.menu_container {
    /*
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;*/

    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));

    gap: 10px;

}

.menu_container > * {
    width: 90%;
}

h1 {
    color: black;
    text-align: center;
}