section {
  /* reglas de display */
  display: flex;
  flex-direction: column;

  padding: var(--header_padding);


  /* colores y otras cosas */
  color: white;

  /* etc */
}


.menu_container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  padding: var(--header_padding);
  gap: var(--header_padding);
}

.menu_container > * {
    width: 90%;
}

h1 {
  color: black;
  text-align: center;
}