section {
  width: 100%;
  max-width: 300px;
}

input {
  width: 300px;
  box-sizing: border-box;
}

.registration-form-buttons {
  display: flex;
  flex-direction: row;
}

.registration-form-buttons button {
  margin: 10px;
  display: flex;
  justify-content: center;
}
