<div class="contenedorImg">
  <img src="images/login/preciOSO-removebg-preview.png" alt="Imagen de usuario">
</div>
<section>
  <h1>Nuevo usuario</h1>

  <form [formGroup]="userRegForm" (ngSubmit)="register()">
    <label for="first">Nombre</label>
    <input type="text" id="first" formControlName="firstname" placeholder="Juan">
    <small class="error-msg" [appFieldError]="userRegForm.get('firstname')"></small>

    <label for="last">Apellido</label>
    <input type="text" id="last" formControlName="lastname" placeholder="Pérez">
    <small class="error-msg" [appFieldError]="userRegForm.get('lastname')"></small>


    <label for="dni-number">Número de documento (DNI)</label>
    <input type="number" min="1000000" max="99999999" id="dni-number" formControlName="dni" placeholder="1234567">
    <small class="error-msg" [appFieldError]="userRegForm.get('dni')"></small>


    <label for="user">Nombre de usuario</label>
    <input type="text" id="user" formControlName="username" placeholder="fulanito">
    <small class="error-msg" [appFieldError]="userRegForm.get('username')"></small>


    <label for="pass">Contraseña</label>
    <input type="password" id="pass" formControlName="password">
    <small class="error-msg" [appFieldError]="userRegForm.get('password')"></small>

    @if(success() && err()) {
      <p class="success" (click)="err.set(null)">{{ err() }}</p>
    } @else if (success() === false && err()) {
      <p class="failure" (click)="err.set(null)">{{ err() }}</p>
    }

    <div class="registration-form-buttons">
      <button [disabled]="!userRegForm.valid" type="submit">Registrarse</button>
      <button class="return-btn" routerLink="/login" type="button">Volver</button>
    </div>

  </form>
</section>
