section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: fit-content;
  background-color: var(--table-bg-color);
  border-radius: 5px;
  border: 1px #d3d3d3 solid;
}

.users-table {
  background-color: var(--bg-color);
  padding: 5px;
  border-radius: 5px;
  border-collapse: collapse;
}

thead {
  border-bottom: 1px solid gainsboro;
  text-transform: uppercase;
}

th {
  background-color: var(--th-bg-color);
  font-weight: bold;
}

th {
  padding: 10px 20px;
  text-align: center;
}

thead tr {
  font-family: Cinzel, serif;
}

@media (max-width: 760px){

  th {
    padding: calc(5px - 1vw) calc(10px - 1vw);
  }

  .hide-on-desktop{
    display: table-cell;
  }

  .hide-on-mobile{
    display: none;
  }

}