<h2>Registrar</h2>

<form [formGroup]="productForm" (ngSubmit)="submit()">
  @if(productForm.get("name")?.hasError('minlength') && productForm.get("name")?.dirty){
    <p style="color:red">El nombre del producto debe contener como mínimo 3 caracteres</p>
  }
  @if(productForm.get("name")?.hasError('maxlength') && productForm.get("name")?.dirty){
    <p style="color:red">El nombre del producto debe contener como máximo 50 caracteres</p>
  }
  @if(productForm.get("name")?.hasError('required') && productForm.get("name")?.dirty){
    <p style="color:red">El nombre del producto es obligatorio</p>
  }
  @if(showSuccessMessage()) {
    <p class="success">¡Producto registrado exitosamente!</p>
  } @else if (showErrorMessage()) {
    <p class="failure">Carga fallida</p>
  }
  <label for="product-name">Nombre del producto</label>
  <input type="text" id="product-name" formControlName="name">

  <button type="submit" [hidden]="!productForm.valid">Cargar</button>
</form>
