form {
  display: flex;
  flex-direction: row;
  justify-content: center;

  padding: 10px;
  gap: 10px;

  width: 100%;

}

input {
  border-radius: 10px;
}

form > input[type=text] {
  width: 40%;
}

form > input[type=submit] {
  width: 10%;
}
