form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  padding: 10px;
  gap: 10px;

  width: 100%;
}

input {
  border-radius: 10px;
}

form > input[type=text] {
  width: 50%;
  height: 40px;
  font-size: medium;
}

input::placeholder {
  text-align: center;
}

form > input[type=submit] {

  text-align: center;

  background-color: var(--secondary-color);
  border-color: var(--text-color);
  border-width: 2px;

  color: var(--text-color);

  /*width: 10%;*/
  height: 50px;
  font-size: medium;
  font-family: "BreeSerif-regular", serif;
}


