h1{
  text-align: center;
  color: #2d5a4c;
  font-family: "Cinzel", serif;
}

.menu-container {
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: max(15px, 2vh);
    flex-wrap: wrap;
}

.menu-container.horizontal {
    flex-direction: row;
}

.menu-container.vertical {
    flex-direction: column;
}

.access-container{
  display: flex;
  flex-direction: row;
}

h3{
  text-align: center;
  font-family: "Cinzel", serif;
  color: #2d5a4c;
}

@media screen and (max-width: 510px) {
  .access-container{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
