<section id="delete-product-form">
  <h2>Borrar producto</h2>
  <!--    <form [formGroup]="deleteProductForm">-->
  <!--      <select name="product" id="product-select">-->
  <!--        <option value="">Elija un producto...</option>-->
  <!--        @for(product of products();track product.idProduct) {-->
  <!--          <option [value]="product">{{product.name}}</option>-->
  <!--        }-->
  <!--      </select>-->
  <!--      <button type="button">Borrar</button>-->
  <!--    </form>-->

</section>
