section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

article > form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}