<section>
    <h2>Carga de precios en CSV</h2>
    <article>
    <form action="" (ngSubmit)="completeForm()" [formGroup]="form">
        <div>
            <label for="proveedor">Proveedor:</label>
            <app-supplier-dropdown-select [suppliers]="suppliers()" formControlName="id" id="proveedor" name="proveedor"></app-supplier-dropdown-select>
        </div>

        <div>
            <label for="file">Archivo</label>
            <input type="file" name="file" id="file" formControlName="file" (change)="onFileSelected($event)" accept=".csv"> 
        </div>
        
        <div>
            <label for="mode">Acción</label>
            <app-switch-with-text [on_text]="'Cargar'" [off_text]="'Modificar'" formControlName="csv_mode"></app-switch-with-text>
        </div>

        <button type="submit" [disabled]="!isFormValid()" class="upload">Cargar</button>
    </form>
    </article>

    <app-failed-products-component [failed_product_resp]="failed_products_response()"/>
</section>