article {
  /* reglas de display */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--header_padding);

  /* etc */
  text-align: center;
  
  height: 50px;
  transition: background-color .1s ease-in-out;
  

  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.4)), 
    url('/images/header3.png') center/cover no-repeat !important;
  color: #fcfcf9;
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 20px 5px;
  border-radius: 18px;
  font-family: 'Cinzel', serif;
  font-weight: 700;
  font-size: 1.2rem;
  letter-spacing: 5px;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  box-shadow: 0 15px 35px rgba(22, 55, 45, 0.3);
}

article:hover {
  background-color: var(--secondary-color);
  cursor: pointer;
}