article {
  /* reglas de display */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  height: 200px;
  width: 200px;
  margin: 15px;

  background-color: rgba(255, 255, 255, 0.50);
  color: var(--secondary-color);
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 20px 5px;
  border-radius: 18px;
  font-family: 'Cinzel', serif;
  font-weight: 700;
  font-size: 1rem;
  letter-spacing: 5px;
  cursor: pointer;
  box-shadow: 0 15px 35px rgba(22, 55, 45, 0.5);
  transition: 0.4s;
}

article:hover {
  background-color: rgba(255, 255, 255, 0.85);
  cursor: pointer;
  transition: 0.4s;
  scale: 1.1;
}

p{
  border-bottom: 3px solid #d4af37;
}
