article {
  /* reglas de display */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--header_padding);

  /* etc */
  text-align: center;

  /* colores y otras cosas */
  background-color: var(--main-color);
  color: white;
  border-radius: 10px;
  border: 2px solid black;

  height: 50px;
  width: 100%;
  transition:
    background-color .1s ease-in-out;
}

article:hover {
  background-color: var(--secondary-color);
}
