article {
  border: 1px solid black;

  padding: 10px;
  background-color: var(--bg-color);
  border-radius: 5px;
}

button{
  background-color: var(--secondary-color);
  border-radius: 10px;
  border-color: var(--text-color);
  border-width: 2px;
  color: var(--text-color);

  margin-top: 10%;
  margin-left: 3%;

  width: 100px;
  font-size: medium;
  font-family: "BreeSerif-regular", serif;

}

