article {
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* distribuye contenido y manda botones abajo */

  height: 100%;

  border: 1px solid black;

  padding: 2px;
  background-color: var(--bg-color);
  border-radius: 5px;
}

button{
  background-color: var(--secondary-color);
  border-radius: 10px;
  border-color: var(--text-color);
  border-width: 2px;
  color: var(--text-color);

  width: 40%;
  font-size: medium;
  font-family: "BreeSerif-regular", serif;

}

button:hover {
  background-color: var(--tertiary-color);
}

button.eliminar-supplier:hover{
  background-color: red;
}

.boton-admin{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
}

h2, h3, p {
  text-align: center;
}


div {
  background-color: var(--bg-color);
  margin: 5px;
  padding: 2px;
  border-radius: 10px;
}

