<article>
  <div class="title">
    <h3>{{supplier_info().companyName}} -- {{supplier_info().cuit}}</h3>
  </div>

  <div class="contacts">
    <h4>Contactos</h4>
    <p>Numero de telefono: {{supplier_info().phoneNumber}}</p>
    <p>Email: {{supplier_info().email}}</p>
  </div>

  <div class="">
    <h4>Direccion</h4>
    <p>{{supplier_info().address.city + ',' + supplier_info().address.street + ',' + supplier_info().address.number}}</p>
  </div>

  <!-- Como hago para que se muestre solo para los managers/admins -->
  <div>
    <button (click)="update_sup()">Modificar</button>
    <button (click)="delete_sup()">Eliminar</button>
  </div>

</article>
