h1,h2 {
  color: white;
  text-align: center;
  margin: 10px;
}

section {
  margin: 10px;
  padding: 10px;

  border-radius: 10px;

  background-color: var(--main-color);
}

.filter-area {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 10px;
}

.filter-area label {
  color: var(--text-color)
}
