section {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  width: fit-content;
  max-width: 100%;
  justify-content: center;
  border-radius: 10px;
  padding: 10px;
  margin-inline: auto;
}

.search-and-tip {
  display: flex;
  flex-direction: row;
}

.tip-btn {
  height: 60px;
  width: 60px;
  margin-bottom: 40px;
  font-size: 1.6rem;
}

.tip-btn:hover {
  transform: scale(105%);
}

@media (max-width: 760px){
  section {
    padding: 0;
  }

  .hide-on-desktop{
    display: table-cell;
  }

  .hide-on-mobile{
    display: none;
  }
}
