<section>
  <form [formGroup]="productForm"
        (ngSubmit)="getPricesByProductList()">

    <app-product-dropdown-select [products]="productList()"
                                 formControlName="product" />

    <button type="submit">Buscar</button>

  </form>

  @if (priceList() !== undefined){

    <h3>Proveedores que tienen: {{ priceByProductList().name}}</h3>

    @if(priceList()?.length === 0){

    <p>No hay Proveedores registrados que tengan el Producto solicitado</p>

    } @else {

        <table>
          <thead>
          <tr>
            <th> Proveedor</th>
            <th> Costo </th>
            <th> Margen de Ganancia </th>
            <th> Precio </th>
            <th></th>
            <th></th>

          </tr>
          </thead>
          <tbody>

              @for (productPrice of priceList(); track $index) {
                <tr app-price-by-product-row-component
                    [productPrice]="productPrice"
                    [productSupplierId]="productPrice.idProductSupplier"
                    (rowDeleted)="handleRowDeletion($event)"></tr>
              }

          </tbody>
        </table>
    }
  }

</section>
