section{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;
  margin-top: 5%;
}

form{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  gap:1rem;
}

table {
  border-collapse: collapse;
  background-color: #d9e9f0;
  border-radius: 5px; 
}

th, td {
  padding: 10px 20px; 
  text-align: center;
}

tr {
  border-bottom: 1px solid var(--tertiary-color);
}

tr:last-child {
  border-bottom: none;
}


th {
  background-color: #c6dbe5; 
  font-weight: bold;
}

tr:nth-child(even) {
  background-color: #eaf2f6; 
}

button{
  background-color: var(--secondary-color);
  border-radius: 10px;
  border-color: var(--text-color);
  border-width: 2px;
  color: var(--text-color);
  
  width: 80px;
  font-size: medium;
  font-family: "BreeSerif-regular", serif;
}


