article {
  padding: 10px;  
}

.page-buttons > div {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  
  width: 100%;
  padding: 10px;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  
  text-align: center;
  width: max-content;

  background-color: var(--secondary-color);
  border-radius: 10px;
  border-color: var(--text-color);
  border-width: 2px;
  color: var(--text-color);
  
  font-family: "BreeSerif-regular", serif;
}

p {
  text-align: center;
}

.page-size {
  display: flex;
  flex-direction: column;
 
}

.select-page{
  border-radius: 5px;
  text-align: center;
  margin-left: 5px;
  
  font-family: "BreeSerif-regular", serif;
}


