<article class="page-buttons">

  <div class="page-size">
    <p>{{'Pagina ' + current_page() + ' de ' + max_page()}}</p>
    <div>
      <label for="size">Resultados por pagina: </label>
      <select (change)="changeSize()" [(ngModel)]="selected_page_size" name="size">
      @for (number of page_size_ops(); track $index)
      {
        <option selected="selected" [value]="number">{{number}}</option>
      }
      </select>
    </div>
  </div>


  <div>
    <button (click)="sendBackSignal()" [disabled]="back_active()" title="Botón de pagina anterior">{{back_button_text()}}</button>
    <button (click)="sendNextSignal()" [disabled]="forward_active()" title="Botón de pagina posterior">{{next_button_text()}}</button>
  </div>
</article>
