article {
  padding: 10px;
}

.page-buttons > div {
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  width: 100%;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;

  text-align: center;
  width: 30%;
}

p {
  text-align: center;
}
