
form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  width: 100%;
  height: 100%;

}

input[type="number"] {
  -moz-appearance: textfield;
  
  margin-bottom: 5px;
  border-radius: 7px;
  font-size: medium;
}

label{
  color: var(--text-color);
  margin-bottom: 5px;
  margin-top: 5px;

}

button{
  background-color: var(--secondary-color);
  border-radius: 10px;
  border-color: var(--text-color);
  border-width: 2px;
  color: var(--text-color);
  
  margin-top: 10%;
  
  width: 100px;
  font-size: medium;
  
  font-family: "BreeSerif-regular", serif;
}
