.contenedorImg{
  display: flex;
  justify-content: center;
  align-items: center;
}

img{
  max-width: 100%;
  height: auto;

  width: 12%;
  padding-top: 3%;
  padding-bottom: 3%;
}

section{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;


  width: 60%;
  height: 50%;
  margin: 0 auto;
  padding: 20px;

  background: var(--main-color);
  border-radius: 25px;

}

h1{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-wrap: nowrap;

  margin: 0 auto;
  margin-top: 3%;
  padding-bottom: 1%;

  color: white;
}

form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

label{
  padding: 8px;

  color: var(--text-color);
}

input{
  width: 100%;
  padding: 10px;

  border-radius: 10px;
  border-style: ridge;
  border-color: white;
  border-width: 2px;

}

button{
  background-color: var(--secondary-color);
  border-radius: 10px;
  border-color: var(--text-color);
  border-width: 2px;
  color: var(--text-color);

  margin-top: 10%;

  width: 100px;
  font-size: medium;
  font-family: "BreeSerif-regular", serif;

}

button:disabled {
  background-color: var(--disabled-button-color);
  color: black;
}
