<main class="login-page">
  <!-- Contenedor del Logo -->
  <article class="glass-card">
    
    <div class="logo-container">
      <img src="/images/diamante.png" alt="Precioso Diamond" class="diamond-logo">
    </div>

    <h1>Iniciar Sesión</h1>

    <form [formGroup]="authForm" (ngSubmit)="login()">
      <div class="form-field">
        <label for="name">Usuario</label>
        <input type="text" id="name" formControlName="username" placeholder="admin">
      </div>

      <div class="form-field">
        <label for="pass">Contraseña</label>
        <input type="password" id="pass" formControlName="password" placeholder="••••••••">
      </div>

      <button [disabled]="!authForm.valid" type="submit" class="btn-marmol">
        Ingresar
      </button>
    </form>

    <a class="nav-link" routerLink="/register">¿Usuario nuevo? Registrate</a>
  </article>
</main>