h1{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin: 0 auto;
  margin-top: 10%;
  padding-bottom: 1%;

  color: var(--color_principal);
}

section{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  

  width: 400px;      
  height: 300px;   
  margin: 0 auto;   
  
  background: var(--color_principal);
  border-radius: 25px;

}

img{
  width: 12%;
  padding-top: 3%;
}

form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;

}

label{
  padding: 8px;

  color: white;
}

input{
  width: 100%;
  padding: 10px;

  border-radius: 10px;
  border-style: ridge;
  border-color: white;
  border-width: 2px;

}

button{
  background-color: var(--color_secundario);
  border-radius: 10px;
  border-style: ridge;
  border-color: var(--color_secundario);
  border-width: 2px;
  color: white;

  margin-top: 12%;

}

