:host {
  top: 0;
  position: sticky;
}

h1 {
  cursor: pointer;
  transition:
    scale .3s ease-in-out;
}

h1:hover {
  scale: 101%;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-inline: var(--header_padding);
  padding-block: calc(var(--header_padding) / 2);
  background-color: var(--main-color);
  color: white;
  height: 50px;
}

button.nav-bar-button {
  height: 40px;
  width: 60px;
  border: none;
  border-radius: 10px;
  font-family: "BreeSerif-regular", serif;
  color: var(--main-color);
  transition:
    background-color .2s ease-in-out,
    scale .15s ease-in-out;
}

button.nav-bar-button:hover {
  background-color: #c9ecff;
  scale: 110%;
}

.user-button {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.overlay{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1000;
}

/*
 esto deberia ser algo provisorio, porque animate.leave esta roto en este momento
 en teoria deberia alcanzar con ponerlo como directiva en el componente del sidebar
 pero por ahora no hace nada, solo funciona animate.enter
*/

/* lo que esta abajo deberia estar en el css del sidebar una vez que lo arreglen */

:host > .menuDiv {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    height: 100dvh;
    width: var(--sidebar-width);
    background-color: var(--main-color);
    z-index: 1010;
}

.enter-animation {
  animation: slide-fade-enter .3s;
}

@keyframes slide-fade-enter {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.leave-animation {
  animation: slide-fade-leave .3s;
}

@keyframes slide-fade-leave {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(-100%);
  }
}
