<nav>
  <button class="nav-bar-button" title="Ver barra de navegación" (click)="openSidebar()"> 
    <img class="img-button-menu" src="images/menuHamburguesa.png" alt="menuHamburguesa"></button>
  <h1 routerLink="main-menu" title="Regresar al menú principal">Catalogo sistema</h1>
  <button class="nav-bar-button user-button" title="Ver panel de usuario">{{username()}}</button>
</nav>

@if(isSidenavOpen()){
  <div class="menuDiv"
    animate.enter="enter-animation"
    animate.leave="leave-animation">
    <app-sidebar-component id="sidebar" (clickOutside)="closeSidebar()"/>
  </div>
  <div class="overlay"></div>
}
