.bar-container {
  background: rgba(255, 255, 255, 0.85); 
  backdrop-filter: blur(4px);
  padding: 20px; 
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
  
  width: 100%;
  max-width: 480px; 
  box-sizing: border-box;
  align-self: flex-start;

  text-align: center;
}

h2 {
    margin: 10px;
}

.bar-direction {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 15px;

  margin: 10px 0px;
}

.gold-divider {
  display: block;
  height: 3px;
  background-color: #d4af37;
}

div {
    color: #444;
}

p {
    margin: 0px;
}