.bar-container {
    background-color: gray;
    display: flex;
    gap: min(1.2rem,2vw);
    flex-wrap: wrap;
}

div {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: red;
    padding: 10px;
    border-radius: 10px;

    text-align: center;
    flex-grow: 1;
}

p {
    margin: 0px;
}

@media screen {
    
}