@if (!searching()) {
    @if (success()) {
        <section class="horizontal bar-container">
            <div>
                <p> Compra: ${{dolar_info()?.compra}} </p>
            </div>
            <div>
                <p> Venta: ${{dolar_info()?.venta}} </p>
            </div>
            <div>
                <p> Fecha: {{ getDate() | date: 'dd-MM-yyyy hh:mm'}}  </p>
            </div>
            <div>
                <form action="" [formGroup]="form">
                <label for="exchange">Moneda: </label>
                    <select name="exchange" id="exchange" (change)="onChange($event)" formControlName="exchange">
                        @for (item of enum_options(); track $index) {
                            <option [value]="item.key">{{item.value}}</option>
                        }
                    </select>
                </form>
            </div>
        </section>
    } @else {
        <div>
            <p> No se puede buscar el precio del dolar, intentelo mas tarde. </p>
        </div>
    }
} @else {
    <div> Buscando... </div>
}