@if (!searching()) {
    @if (success()) {
        <div class="horizontal">
            <div>
                Compra: ${{dolar_info()?.compra}}
            </div>
            <div>
                Venta: ${{dolar_info()?.venta}}
            </div>
            <div>
                Actualizado: {{dolar_info()?.ultima_actualizacion}}
            </div>
            <div>
                <form action="" [formGroup]="form">
                <label for="dolar">Moneda: </label>
                    <select name="dolar" id="dolar" (change)="onChange($event)" formControlName="exchange">
                        @for (item of enum_options(); track $index) {
                            <option [value]="item.key">{{item.value}}</option>
                        }
                    </select>
                </form>
            </div>
        </div>
    } @else {
        <div>
            No se puede buscar el precio del dolar, intentelo mas tarde.
        </div>
    }
} @else {
    <div> Buscando.. </div>
}