section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 400px;      
  height: 400px;   
  margin: 0 auto;   
  margin-top: 10px;
  
  background: var(--main-color);
  border-radius: 25px;
}

h2{
  color: var(--text-color);
}
