section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  min-width: 60%;
  max-width: 80%;
  margin: 0 auto;
  margin-top: 10px;
  padding: 10px;

  background: var(--main-color);
  border-radius: 25px;
}

h2{
  color: var(--text-color);
}
