<section>
  <h1>Lista de proveedores</h1>
      <app-search-bar (query_sig)="searchByName($event)" [disabled]="searching" ></app-search-bar>
  @if (!error_msg) {
      @if (page_data()!.content.length != 0) {
      <app-supplier-list [suppliers]="page_data()!.content"/>
      <app-page-buttons (back_signal)="goPreviewsPage()"
                        (next_signal)="goNextPage()"
                        [back_active]="page_data()!.first || searching"
                        [forward_active]="page_data()!.last || searching"
                        [current_page]="page_data()!.number"
                        [max_page]="page_data()!.totalPages"

                        (size_changed)="changePageSize($event)"
                        [page_size_ops]="page_size_ops">
      </app-page-buttons>
      } @else {
        <h1>No se encontraron resultados</h1>
      }
  } @else {
    <div>
      <h1> {{error_msg}}</h1>
    </div>
  }
</section>
