section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 40%;
  height: 50%;

  padding: 20px;
  margin: 10% auto 0;

  background: var(--main-color);
  border-radius: 25px;

}

h2{
  color: var(--text-color);
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 10px;
}



label{
  color: var(--text-color);
}

button{
  background-color: var(--secondary-color);
  border-radius: 10px;
  border-color: var(--text-color);
  border-width: 2px;
  color: var(--text-color);

  margin-top: 10%;

  width: 100px;
  font-size: medium;
  font-family: "BreeSerif-regular", serif;

}

button:hover {
  background-color: var(--tertiary-color);
}

button:disabled {
  background-color: var(--disabled-button-color);
  color: black;
}

.desplegable-producto{

  background-color: var(--main-color);
  border-radius: 10px;
  border-color: var(--secondary-color);

}
