.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 80px);
  padding: 20px;
  box-sizing: border-box;
}

.detail-container {
  max-width: 900px;
  margin: 10px auto;
  padding: 15px;
  border-radius: 5px;

  background: linear-gradient(135deg, rgba(255, 255, 255, 0.5) 0%, rgba(240, 245, 243, 0.3) 100%);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 20px;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.1);
}

.profile-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.profile-name {
  margin: 0 0 8px 0;
  color: var(--text-color);
  font-weight: bold;
  font-family: 'Cinzel', serif;
  color: #2d5a4c;
  text-align: center;
}

.profile-role {
  font-family: 'Cinzel', serif;
  color: #2d5a4c;
  text-align: center;
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.5) 0%, rgba(240, 245, 243, 0.3) 100%);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  padding: 3px;
  border-radius: 5px;
  border: 1px black solid;
  font-size: 1.1rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.01em;
}

.profile-role:hover {
  transform: scale(101%);
}

.profile-controls {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-block: 10px;
  gap: 15px;
  text-align: center;
}

.user-cards-area {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 15px;
  padding: 10px;
  border-radius: 5px;
  margin-top: 10px;
}

.info-header {
  color: var(--secondary-text-color);
  grid-column: 1 / -1;
  text-align: center;
  display: block;
  font-weight: 700;
  margin: 1px;
  letter-spacing: 0.1em;
}

button {
  flex: 1;
  padding: 12px;
  border-radius: 10px;
  font-family: 'Cinzel', serif;
  font-weight: 700;
  font-size: 0.75rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.2);
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

button:not(.destructive) {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.4)),
    url('/images/header3.png') center/cover no-repeat;
  color: #fcfcf9;
}

.destructive {
    background: linear-gradient(rgba(80, 10, 10, 0.7), rgba(50, 5, 5, 0.85)),
                url('/images/header3.png') center/cover no-repeat;
    color: #fcfcf9;
    filter: sepia(1) hue-rotate(-50deg) saturate(1.5);
    box-shadow: 0 8px 15px rgba(80, 10, 10, 0.2);
}

button:hover {
  transform: translateY(-3px);
  filter: brightness(1.1) saturate(1.2);
}



.badge {
  padding: 6px;
  border-radius: 5px;
  font-size: 0.9rem;
}

.badge-active {
  background-color: var(--active-bg-color);
  color: var(--active-text-color);
}

.badge-inactive {
  background-color: var(--inactive-bg-color);
  color: var(--inactive-text-color);
}
