select {
  width: 200px;
  height: 30px;


  border-radius: 10px;
  border-style: ridge;
  border-color: white;
  border-width: 2px;


  font-family: "BreeSerif-regular", serif;

  text-align: center;
  cursor: pointer;

  text-overflow: ellipsis;
}
