section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 60%;
  height: 50%;
  padding: 20px;
  margin: 0 auto;

  margin-top: 10%;

  background: var(--main-color);
  border-radius: 25px;

}

h2{
  color: var(--text-color);
  text-align: center;
}
