<article>
    <form action="" (ngSubmit)="tellToBeDone()" [formGroup]="form">
        <label for="name">Nombre de empresa</label>
        <input type="text" name="name" id="name" formControlName="companyName" [class.error_border]="showFieldWrong('companyName')" placeholder="Green Test">
        @if (showFieldWrong("companyName")) {
            <small class="error">No es valido</small>
        }
        <br>
        <label for="cuit">Cuit</label>
        <input type="text" name="cuit" id="cuit" formControlName="cuit" [class.error_border]="showFieldWrong('cuit')" placeholder="23-11121111-9">
        @if (showFieldWrong("cuit")) {
            <small class="error">No es valido</small>
        }

        <br>
        <label for="email">Email</label>
        <input type="email" name="email" id="email" formControlName="email" [class.error_border]="showFieldWrong('email')" placeholder="test1@email.com">
        @if (showFieldWrong("email")) {
            <small class="error">No es valido</small>
        }

        <br>
        <label for="phone">Número de teléfono</label>
        <input type="text" name="phone" id="phone" formControlName="phone" [class.error_border]="showFieldWrong('phone')" placeholder="1111111111">
        @if (showFieldWrong('phone')) {
            <small class="error">No es valido</small>
        }

        <br>
        <label for="street">Calle</label>
        <input type="text" name="street" id="street" formControlName="street" [class.error_border]="showFieldWrong('street')" placeholder="Calle 12">
        @if (showFieldWrong("street")) {
            <small class="error">No es valido</small>
        }

        <br>
        <label for="number">Número de edificio</label>
        <input type="text" name="number" id="number" formControlName="number" [class.error_border]="showFieldWrong('number')" placeholder="123">
        @if (showFieldWrong("number")) {
            <small class="error">No es valido</small>
        }

        <br>
        <label for="city">Ciudad</label>
        <input type="text" name="city" id="city" formControlName="city" [class.error_border]="showFieldWrong('city')" placeholder="Ciudad test">
        @if (showFieldWrong("city")) {
            <small class="error">No es valido</small>
        }


        <br><br>
        <input type="submit" value="Subir" [disabled]="!isValid()">
    </form>
</article>
