article {
  padding: 20px;
  margin: 20px;

  background-color: var(--main-color);
  border-radius: 25px;
}

form {
  display: grid;
  justify-items: center;
  width: 100%;
  grid-template-columns: 1fr;
  gap: 1px; /* espacio entre los elementos */
}

label {
  padding: 8px;
  text-align: center;
  color: white;
}

input {
  width: 80%;
  padding: 10px;
  border-radius: 10px;
  border: 2px ridge white;
  box-sizing: border-box;
  justify-self: center;
}

.error {
  color: red;
  font-size: 0.9rem;
  justify-self: start; /*mensaje pegado al input*/
  margin-left: 10%;
  text-align: center;
}

.error_border {
  border: 2px dotted red;
}

input[type="submit"] {
  font-family: "BreeSerif-regular", serif;
  width: 50%;
  margin-top: 10px;

  border-radius: 10px;
  border-style: ridge;
  border-width: 2px;
  border-color: var(--text-color);

  background-color: var(--secondary-color);

  color: white;

  padding: 10px;
  cursor: pointer;
  justify-self: center;
}

input[type="submit"]:hover {
  background-color: var(--tertiary-color);
  transition: 0.1s ease-in-out;
}

input[type="submit"]:disabled {
  background-color: var(--disabled-button-color);
  color: var(--disabled-button-text-color);
  cursor: not-allowed;
}
