article {
  padding: 20px;
  margin: 20px;

  background-color: var(--main-color);
  border-radius: 25px;
}

form {
  display: grid;
  justify-items: center;
  width: 100%;
  grid-template-columns: 1fr;
  gap: 1px; /* espacio entre los elementos */
}

label {
  padding: 8px;
  text-align: center;
  color: white;
}

input {
  width: 80%;
  padding: 10px;
  border-radius: 10px;
  box-sizing: border-box;
  justify-self: center;
}

input[type="submit"] {
  font-family: "BreeSerif-regular", serif;
  width: 50%;
  margin-top: 10px;

  border-radius: 10px;
  border-style: ridge;
  border-width: 2px;
  border-color: var(--text-color);

  background-color: var(--secondary-color);

  color: white;

  padding: 10px;
  cursor: pointer;
  justify-self: center;
}
