
<div class="menu-form-card">
        <div class="menu-container">

            <div class="btn-productos">
            <app-main-menu-button router_link="on-sale" texto="Buscar productos 🔎">
            </app-main-menu-button>
          </div>


            <div class="btn-pedidos">
                <app-main-menu-button router_link="all-orders" texto="Pedidos 🛒"></app-main-menu-button>
            </div>

            <div class="btn-proveedores">
                <app-main-menu-button router_link="suppliers" texto="Proveedores 🚚"></app-main-menu-button>
            </div>

        </div>
</div>