select{
    width: 200px;
    height: 30px;

    border-radius: 10px;
    border-color: var(--tertiary-colo);

    font-family: "BreeSerif-regular", serif;

    text-align: center;
    padding-bottom: 5px;

    cursor: pointer;
    
}
