select{
    width: 100%;
    height: 30px;

    border-radius: 10px;
    border-color: var(--tertiary-color);

    font-family: "BreeSerif-regular", serif;

    text-align: center;
    padding-bottom: 5px;

    cursor: pointer;

}
