select {
  font-family: "BreeSerif-regular", serif;
  height: 30px;
  text-align: center;
  padding-bottom: 5px;

  cursor: pointer;

  border-style: ridge;
  border-color: white;
  border-width: 2px;
  border-radius: 10px;

  text-overflow: ellipsis;
}
