:host-context(cdk-dialog-container)
{
    width: 100%;
}

article {
    justify-content: center;
    align-items: center;

    display: grid;
    grid-template-areas: "title title" "items buttons";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 0.5fr;
}

li, p{
    font-family: 'Merriweather', serif;
    color: #16372d;
    line-height: 1.4;
    font-weight: 500;
}

h2, h1 {
    font-family: 'Cinzel', serif;
    color: #2d5a4c;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 800;
    font-size: clamp(1.0rem, 5vw, 1.2rem);
    text-align: center;
    margin-bottom: 30px;
}

.cancel-order {
  background: linear-gradient(rgb(147 0 0 / 0.65), rgb(39 0 0 / 0.69)),
  url('/images/header3.png') center/cover no-repeat !important;
}

.buttons {
    display: flex;
    flex-direction: column;
    grid-area: buttons;
    height: 100%;
}

.buttons > button {
    width: 100%;
}

.list {
    max-height: 150px;
    overflow-y: scroll;
}

.shopping-info {
    grid-area: items;
    height: 100%;
}

.prices {
    text-align: center;
}

.title {
    grid-area: title;
}

.message {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-direction: column;
}

.message > button {
    width: 100%;
}

@media only screen and (max-width: 660px){
    article {
        display: flex;
        flex-direction: column;
    }
}