/* You can add global styles to this file, and also import other style files */
:root {
  --header_padding: 10px;

  --color_principal: #1B5B7E;
  --color_secundario: #9BC0DA;
  font-family: "BreeSerif-regular", serif;

  box-sizing: border-box;
}

@font-face {
  font-family: "BreeSerif-regular";
  src: url("./fonts/BreeSerif-Regular.ttf") format("truetype");
}

.success {
  color: limegreen;
}

.failure {
  color: red;
}

button {
  padding: 10px;
  margin-top: 10px;
}

.invalid {
  border-color: red;
}

.ng-invalid:not(form) {
  border: 2px solid #a94442;
}

.ng-pristine:not(form) {
  border: 1px solid darkblue;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: not-allowed;
}
