:root {
  --header_padding: 10px;
  --sidebar-padding: 30px;
  --sidebar-width: 300px;


  --main-color: #2d5a4c;
  --secondary-color: #2c6e5a;
  --tertiary-color: #4c9682;


  --bg-color: #f5f1e4;

  --text-color: #ffffff;
  --secondary-text-color: #333333;
  --unfocused-text-color: #d2d2d2;
  --bg-color: rgba(234, 245, 255, 0.78);
  --th-bg-color: #c6dbe5;

  --active-bg-color: #e9ffcf;
  --active-text-color: #166534;
  --inactive-bg-color: #ffcdd5;
  --inactive-text-color: #991b1b;

  --disabled-button-color: #9baebb;
  --disabled-button-text-color: #6a7d8c;
  --error-color: #FF80AB;

  font-family: "BreeSerif-regular", serif;
  box-sizing: border-box;
}

/* ESTILOS DE BODY */
body {
  margin: 0;

  background-image:
    linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.55)),
    url('/images/marmolblanco.png');

  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;

  /* Color de respaldo */
  background-color: var(--bg-color);
}


@font-face {
  font-family: "BreeSerif-regular";
  src: url("./fonts/BreeSerif-Regular.ttf") format("truetype");
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: transparent;
}

main {
  flex: 1;
  position: relative;
  width: 100%;
  background: transparent;
}

button:disabled {
  cursor: not-allowed;
  background-color: var(--disabled-button-color);
  color: var(--disabled-button-text-color);
}

button {
  cursor: pointer;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid rgba(22, 55, 45, 0.2);
  transition: all 0.3s ease;
}

input {
  border: 2px ridge white;
}

input[type="submit"] {
  font-family: "BreeSerif-regular", serif;
  padding: 10px;
  cursor: pointer;
  background-color: var(--main-color);
  color: white;
  border: none;
  border-radius: 5px;
}

input[type="submit"]:hover {
  background-color: var(--secondary-color);
}

#table-wrapper {
  max-width: 80%;
  overflow-x: auto;
}

.error-msg {
  color: var(--error-color);
  white-space: wrap;
  text-align: center;
}

.error-border {
  border: 2px solid red;
}
