:root {
  --header_padding: 10px;
  --sidebar-padding: 30px;
  --sidebar-width: 10rem;

  --main-color: #1B5B7E;
  --secondary-color: #1f7ab4;
  --tertiary-color: #1288d7;
  --text-color: #ffffff;
  --unfocused-text-color: #d2d2d2;
  --bg-color: rgba(234, 245, 255, 0.78);

  --disabled-card-color: rosybrown;

  font-family: "BreeSerif-regular", serif;

  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: var(--bg-color);
}

@font-face {
  font-family: "BreeSerif-regular";
  src: url("./fonts/BreeSerif-Regular.ttf") format("truetype");
}

.success {
  color: limegreen;
}

.failure {
  color: red;
}

button:disabled {
  cursor: not-allowed;
}

button {
  padding: 10px;
}

.invalid {
  border-color: red;
}

.ng-invalid:not(form) {
  border: 2px solid #a94442;
}

.ng-pristine:not(form) {
  border: 1px solid darkblue;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: not-allowed;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}
