:root {
  --header_padding: 10px;

  --color_principal: #1B5B7E;
  --color_secundario: #1f7ab4;
  font-family: "BreeSerif-regular", serif;

  box-sizing: border-box;
}

body {
  margin: 0;
}

@font-face {
  font-family: "BreeSerif-regular";
  src: url("./fonts/BreeSerif-Regular.ttf") format("truetype");
}

.success {
  color: limegreen;
}

.failure {
  color: red;
}

button:disabled {
  cursor: not-allowed;
}

button {
  padding: 10px;
}

.invalid {
  border-color: red;
}

.ng-invalid:not(form) {
  border: 2px solid #a94442;
}

.ng-pristine:not(form) {
  border: 1px solid darkblue;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: not-allowed;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}
