section{

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  
  width: 400px;      
  height: 300px;   
  margin: 0 auto;   
  margin-top: 10%;
  
  background: var(--main-color);
  border-radius: 25px;
  
}
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 10px;
}

h1{
  color: var(--text-color);

}

input, select {
  width: 30%;
  height: 40px;

  background-color: var(--secondary-color);
  color: var(--text-color);
  border-radius: 10px;
  border-color: var(--text-color);

  cursor: pointer;
}

.desplegable-proveedor{

  background-color: var(--main-color);
  border-radius: 10px;
  border-color: var(--secondary-color);
  
}


