section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 40%;
  height: 50%;

  padding: 20px;
  margin: 10% auto 0;

  background: var(--main-color);
  border-radius: 25px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 10px;
}

h2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-wrap: auto;
  text-align: center;
  color: var(--text-color);
  margin: 10px;
}

input[type="submit"] {
  margin-top: 10px;
  justify-self: center;
}

input, select {
  background-color: var(--secondary-color);
  color: var(--text-color);
  border-radius: 10px;
  border-color: var(--text-color);
}

.desplegable-proveedor{
  background-color: var(--main-color);
  border-radius: 10px;
  border-color: var(--secondary-color);
}



