section{

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  min-width: 60%;
  max-width: 80%;
  padding: 10px;
  margin: 0 auto;

  background: var(--main-color);
  border-radius: 25px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 10px;
}

h1{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-wrap: auto;
  text-align: center;
  padding-bottom: 1%;

  color: var(--text-color);
}

input[type="submit"]:hover {
  background-color: var(--tertiary-color);
}

input[type="submit"]:disabled {
  background-color: var(--disabled-button-color);
  color: black;
}



input, select {
  width: 30%;
  height: 40px;

  background-color: var(--secondary-color);
  color: var(--text-color);
  border-radius: 10px;
  border-color: var(--text-color);

  cursor: pointer;
}

.desplegable-proveedor{

  background-color: var(--main-color);
  border-radius: 10px;
  border-color: var(--secondary-color);
}



