<section>

    <form [formGroup]="supplierForm" (ngSubmit)="search()">
      <app-supplier-dropdown-select [suppliers]="supplierList()" formControlName="supplier"></app-supplier-dropdown-select>
      <button [disabled]="supplierList().length === 0 || !this.supplierForm.valid || searching" type="submit">Buscar</button>
    </form>

@if (priceList() !== undefined){

  <h3>Lista de Precios de {{ supplierProductList().companyName}}</h3>

  @if (priceList()?.length === 0){

    <p>El Proveedor no tiene productos sociados</p>

  } @else {
    <table>
      <thead>
      <tr>
        <th> Nombre </th>
        <th *appAllowViewUser="['ROLE_ADMIN','ROLE_MANAGER']"> Costo </th>
        <th *appAllowViewUser="['ROLE_ADMIN','ROLE_MANAGER']"> Margen de Ganancia </th>
        <th> Precio </th>
        <th *appAllowViewUser="['ROLE_ADMIN','ROLE_MANAGER']"> Precio en USD</th>
        <th *appAllowViewUser="['ROLE_ADMIN','ROLE_MANAGER']"></th>
        <th *appAllowViewUser="['ROLE_ADMIN','ROLE_MANAGER']"></th>

      </tr>
      </thead>
        <tbody>
            @for (productPrice of priceList(); track $index) {
                   <tr app-price-by-supplier-row-component
                       [productPrice]="productPrice"
                       [productSupplierId]="productPrice.idProductSupplier"
                       (rowDeleted)="handleRowDeletion($event)"></tr>
               }
      </tbody>
  </table>
      <app-page-buttons (back_signal)="goPreviewsPage()"
                        (next_signal)="goNextPage()"
                        [back_active]="supplierProductList().productsList!.first || searching"
                        [forward_active]="supplierProductList().productsList!.last || searching"
                        [current_page]="supplierProductList().productsList!.number + 1"
                        [max_page]="supplierProductList().productsList!.totalPages"

                        (size_changed)="changePageSize($event)"
                        [page_size_ops]="pageSizeOptions">
      </app-page-buttons>
  }

}
  </section>
