.detail-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
}

.card-title {
  font-family: "Merriweather", serif;
  font-size: 1.2rem;
  font-weight: bold;
  margin-block: 10px;
}

button {
  margin-top: 20px;
  height: 50px !important;
  width: fit-content !important;
}
