#add-product-form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin: 0 auto;

  background: var(--main-color);
  border-radius: 25px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

p{
  text-align: center;
}

label{
  padding: 7px;
  text-align: center;

  color: white;
}

input{
  padding: 10px;

  border-radius: 10px;
  border-style: ridge;
  border-color: white;
  border-width: 2px;

}

label, input, select {
  display: inline-block;
  width: 100%; /* mismo ancho para ambos */
  align-items: center;
}

.desplegable-estado{
  height: 30px;
  border-radius: 10px;
  border-color: var(--secondary-color);

}

button{
  background-color: var(--secondary-color);
  border-radius: 10px;
  border-color: var(--text-color);
  border-width: 2px;
  color: white;

  margin-top: 9%;
  width: 50%;

  align-self: center;

  font-size: medium;
  font-family: "BreeSerif-regular", serif;

}
