<article>
    <form action="" (ngSubmit)="submit()" [formGroup]="form" class="large-search-bar">
        <section>
            <div>
                <label for="status">Estado de pedido</label>
                <select name="status" id="status" formControlName="status">
                    <option value="">Todos</option>
                    @for(keypar of getAllOptions(); track $index)
                    {
                        <option [value]="keypar.key">{{keypar.value}}</option>
                    }
                </select>
            </div>

            <div>
                <button type="submit">Buscar</button>
            </div>
        </section>
    </form>
</article>